<link href="/css/style.css" rel="stylesheet">
<link href="/css/style-responsive.css" rel="stylesheet">

      <h2 class="form-heading">Register Now</h2>
      <div class="container log-row">
          <div class="form-signin">
              <p>Enter your personal details below</p>
              <%= form_tag "/signup", method: :post do %> 
              <input type="text" class="form-control" name="input_name" placeholder="Full Name" autofocus>
              <p> Enter your account details below</p>
              <input type="text" class="form-control" name="input_email" placeholder="Email" autofocus>
              <input type="password" class="form-control" name="password" placeholder="Password">
              <input type="password" class="form-control" name="password_confirmation" placeholder="Re-type Password">

              <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
              <% end %> 
              <div class="registration m-t-20 m-b-20">
                  Already Registered.
                  <a class="" href="/login">
                      Login
                  </a>
              </div>
          </div>
      </div>