<body class="sticky-header">

<h1> Events </h1>

<% @events.each do |event| %>
	<%= event.title %>
	<%= event.start_time %>
	<%= event.location %>
	<br / > 
	<br / >
<% end %>  


<!--body wrapper start-->

            <div class="wrapper">

                <!-- page start-->
                <div class="row">
                    <aside class="col-lg-3">
                        <h4 class="drg-event-title"> Add Events</h4>

                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Event Title">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%">Add New Event</button>
                        </form>
                    </aside>
                    <aside class="col-lg-9">
                        <section class="panel">
                            <div class="panel-body">
                                <div id="calendar" class="has-toolbar"></div>
                            </div>
                        </section>
                    </aside>
                </div>
                <!-- page end-->

            </div>

