<!--common style-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet"  href="/css/weather-icons.min.css">
    <link rel="stylesheet"  href="/css/weather-icons-wind.min.css">

<!--body wrapper start-->
      <!-- sidebar left start-->
        <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a href="index.html">
                    <img src="/img/logo-icon.png" alt="">
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-name">SlickLab</span>
                </a>
            </div>
            <!--responsive view logo end-->

            <div class="sidebar-left-info">
                <!-- visible small devices start-->
                <div class=" search-field">  </div>
                <!-- visible small devices end-->

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation">
                    <li>
                        <h3 class="navigation-title">Navigation</h3>
                    </li>
                    <li class="active"><a href="/events"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <!-- sidebar left end-->

        <!-- body content start-->
        <div class="body-content" >

            <!-- header section start-->
            <div class="header-section">

                <!--logo and logo icon start-->
                <div class="logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="/events">
                        <img src="/img/logo-icon.png" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                        <span class="brand-name">Calendario</span>
                    </a>
                </div>

                <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="index.html">
                        <img src="img/logo-icon.png" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                    </a>
                </div>
                <!--logo and logo icon end-->

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
                <!--toggle button end-->

                <div class="notification-wrap">
                <!--left notification start-->
                <div class="left-notification">
                <ul class="notification-menu">

                </ul>
                </div>
                <!--left notification end-->


                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">

                        <li>
                            <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <%= @current_user.name %>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                                <% if current_user %>
                                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                <% else %>
                                    <li><a href="/login"><i class="fa fa-sign-out pull-right"></i> Log in</a></li>
                                 <% end %>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--right notification end-->
                </div>

            </div>
            <!-- header section end-->

            <!-- page head start-->
            <div class="page-head">
              <div class= "row">
                <div class="col-lg-4">
                  <h3>
                      Dashboard
                  </h3>
                  <span class="sub-title">Welcome <%= @current_user.name %> </span>
                </div>

                <div class="col-md-5">
                  <h3> "<%= @quote["text"] %>" </h3>
                  <p> -<%= @quote["author"]["name"]%> </p>
                </div>

                <div id="weather" class= "col-md-2" class="weather-icon">
                  <h3>{{ weatherData.location.city }}, {{ weatherData.location.region }}</h3>
                  <div> 
                  <h3> <i class="slicon-weather_cloud"> </i>  {{ weatherData.item.condition.temp }} &deg; <h3>
      
                  </div>
                
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                
                                            <!-- <div class="slick-carousal">
                                <div class="overlay-c-bg"></div>
                                <div id="news-feed" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <h3 class="text-success">News</h3>
                                        <span class="date">12 March 2015</span>
                                        <h1>If today were the last day of your life, would you want to do what your are about to do today</h1>
                                        <div class="text-center">
                                            <a href="javascript:;" class="view-all">View All</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h3 class="text-success">News</h3>
                                        <span class="date">11 February 2015</span>
                                        <h1>SlickLab build with Boostrap latest version 3+. Its very easy to customize. Hope you enjoy it..</h1>
                                        <div class="text-center">
                                            <a href="javascript:;" class="view-all">View All</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h3 class="text-success">News</h3>
                                        <span class="date">10 January 2015</span>
                                        <h1>It has huge usable widgets, amazing design, clean code quality, super responsive and quick customar support.</h1>
                                        <div class="text-center">
                                            <a href="javascript:;" class="view-all">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                  </div>
                </div>
            </div>
            <!-- page head end--> 




            <div class="wrapper">

                <!-- page start-->
                <div class="row">
                    <aside class="col-lg-4">
                        <div id="todo-list"> 
                            <h4 class="drg-event-title"> Add Tasks</h4>
                                    <div class="task-panels"> 
                                        <input type="checkbox" id="mark-all" @click="selectAll" :checked="areAllSelected">
                                        <input v-model="newTask" @keyup.enter="addTask" placeholder="What do you need to do?" autofocus class="text-input">
                                        <button @click="clearList">Clear List</button>

                                     </div>

                                     <div  class="list">
                                      <ul class="list-item">

                                        <li v-for="task in tasks" :class="{done: isChecked(task)}" class="task-panels">

                                          <input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
                                          
                                          <input type="text" v-if="task === editingTask" v-auto-focus class="text-input" @keyup.enter="endEditing(task)" @blur="endEditing(task)" v-model="task.text">

                                          <label for="checkbox" v-if="task !== editingTask" @dblclick="editTask(task)">{{ task.text }}</label>
                                          
                                          <button class="delete" @click="removeTask(task)">X</button>

                                        </li>
                                
                                      </ul>
                                    
                                    </div>
                                   
                                   <!--  <li class="clearfix" v-for="task in tasks" >
                                        <div class="chk-todo pull-left">
                                            <input v-on:click="completeTask(task)" v-bind:class="{strike: task.completed}" type="checkbox" value="0" />   
                                        </div>
                                        <p class="todo-title" >
                                            {{ task.text }}
                                        </p>
                                        <div class="action-todo pull-right clearfix">
                                            <a href="#" class="todo-edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="todo-remove"><i class="icon-close"></i></a>
                                        </div>
                                    </li> -->
                                    <!-- <input type="text" v-model="newTask">
                                    <button v-on:click="addTask()">Add a New Task!</button> -->

                        </div>
                       <!--  <h4 class="drg-event-title"> Add Events</h4>

                            <div id="app" class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="Enter Event Title" v-model="title">
                                Start Time: 
                                <input type="datetime-local" name="start" class="form-control" v-model="start">
                                End Time: 
                                <input type="datetime-local" name="end" class="form-control" v-model="end">
                                <br />
                                All Day Event?
                                <input type="checkbox"> 
                            
                                <button class="btn btn-primary" style="width: 100%" v-on:click="addEvent()">Add New Event</button>
                            </div> -->
                      
                    </aside>
                    <aside class="col-lg-8">
                        <section class="panel">
                            <div class="panel-body">
                                <div id="calendar" class="has-toolbar"></div>
                            </div>
                        </section>
                    </aside>
                </div>
                <!-- page end-->

            </div>

<script src="/js/jrespond..min.js"></script>